<div class="container">
    <div class="list-item-search">
        <input type="text" class="search" placeholder="search here for restourents">
    </div>
    <div class="list-item-search">
        <ul>
            <li class="list-item">
                <a routerLink="/restaurents" routerLinkActive="active">Restaurents</a>
            </li>
            <li class="list-item">
                <a routerLink="/food-items" routerLinkActive="active">FoodItems</a>
            </li>
        </ul>
    </div>

</div>